<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Example Test Suite" >
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Example Test">
        <classes>
            <class name="testscript.GoogleHomePage_test"></class>
        </classes>
    </test>
</suite>